# === doma  in ===
SERVER_URL={任意のサーバーURL}
FRONTEND_URL={任意のフロントエンドURL}

# === Postgres ===
POSTGRES_DB=prod_db
POSTGRES_USER={任意のユーザー名}
POSTGRES_PASSWORD={任意のパスワード}

# === Spring Boot ===
SPRING_DATASOURCE_URL=jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

# === Email ===
SPRING_EMAIL_USERNAME={任意のメールアドレス}
SPRING_EMAIL_PASSWORD={任意のメールパスワード}

# === Nginx ===
NGINX_HOST={任意のホスト名(デプロイまで空文字で可)}
