# ====================
# Project-wide Common
# ====================
*.env*
!*.env*.sample

# ====================
# Frontend (React/Vite)
# ====================
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

*.vite/
*storybook.log
storybook-static

override_api/

*.pem
*.p12

# ====================
# Backend (Spring Boot)
# ====================
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ====================
# Nginx
# ====================
nginx/conf.d/default.conf
nginx/on

# ====================
# Editor & OS Files
# ====================
# VS Code
.vscode/*
!.vscode/extensions.json

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# OS Files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
