@import 'tailwindcss';

@theme {
  --color-theme: #fdc022;
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-inactive: #4d4d4d;
  --color-link: #707070;
  --color-annotation: #8e8e8e;
  --color-disabled: #a4a4a4;
  --color-placeholder: #b9b9b9;
  --color-error: #ff5858;
  --color-hover: #f0f0f0;
  --my-alpha-value: 20;
}

:root {
  --hover-opacity: 15%;
  --active-opacity: 30%;
}
